ul {
    display: flex;
    justify-content: center;

    background-color: pink;

}

li {
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;

}




main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 5px hsla(160, 100%, 75%, 0.308) solid;
    border-radius: 10%;
    padding: 10px 10px 10px 10px;
}

.fields>label,
.fields>input,
.fields>button {
    margin-bottom: 10px;
}

.check {
    align-self: center;
    padding: 10px 10px 10px 10px;
}