body {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(243, 223, 0);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  background-color: white;
  border: solid 2px rgb(243, 223, 0);
  border-radius: 30px;
  padding: 5px 20px;
  margin: 5px 5px;
}
button:hover {
  background-color: rgb(189, 215, 249);
  border: solid 2px rgb(243, 223, 0);
  border-radius: 30px;
}
ol {
  background-color: rgb(193, 122, 0);
  border-radius: 20px;
  padding: 20px 40px;
  margin: 20px 20px;
}
ol > li {
  background-color: rgb(113, 72, 0);
  border-radius: 5px;
  padding: 5px 5px;
  margin: 5px 5px;
  font-size: larger;
}
input {
  background-color: white;
  border: solid 2px rgb(255, 238, 0);
  border-radius: 30px;
  padding: 5px 20px;
  margin: 20px 5px;
  width: 200px;
}
#logout {
  width: 200px;
}
